# Ask GPT - ComSen Dataset

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import os
import time
import openai
from openai import OpenAI
import warnings
warnings.filterwarnings("ignore") #ignore all warnings

## Set Up and Functions

In [2]:
#set our key, taken from the openai github
#OpenAI.api_key = "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"
os.environ["OPENAI_API_KEY"] = "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"


client = OpenAI(
  api_key=os.environ['OPENAI_API_KEY'], 
)

In [3]:
#code from https://wellsr.com/python/building-a-python-question-answering-system-with-chatgpt/ 
#and from https://github.com/openai/openai-python

#Define a function that takes a question as input and returns an answer as output
def ask_chat_gpt(question, model):

    #Generate a response from ChatGPT using the question chat message
    response = client.chat.completions.create(
    model = model,
    messages = [
        {"role": "user", "content": question}
    ],
    max_tokens=10, #ten should be enought
    #temperature=0.7, 
    #frequency_penalty=0.5,
    #presence_penalty=0.5, #i will use the openai standard
    )

    #Extract the answer from the response
    #answer = response.choices[0].message['content']
    answer = response.choices[0].message.content

    #Return the answer
    return answer

In [4]:
#define function to extract letter from chats response
def extract_letter(response):
    if 'A' in response:
        return 'A'
    elif 'B' in response:
        return 'B'
    elif 'C' in response:
        return 'C'
    elif 'D' in response:
        return 'D'
    elif 'E' in response:
        return 'E'
    else:
        pass #in this case the value will remain "None" 
            #as determined when creating the new column with the chats responses

In [5]:
#using the cycle A to E cuz dataset has 5 options for each question

#create fcuntion with cycle that will itterate through every row in df 
#join question and options and pass them through the function ask_chat_gpt
#and then assign the value given to the specific column 
#use time library to get how long it all takes to run


def cycle_dfAE(df, model, column, name, df_time):
    iterations=0
    start_time=time.time()
    for index, row in df.iterrows():
        #defining the question to be as clear as prossible
        question='Indicate only the correct answer to the question: '+row['Question']+\
        ' A. '+row['A']+'; B. '+row['B']+'; C. '+row['C']+'; D. '+row['D']+'; E.'+row['E']
        #get response from chat
        response=ask_chat_gpt(question, model)
        #extract the letter
        df.at[index, column]=extract_letter(response)
        #df.at[index, 'GPT-3.5']=response
        iterations+=1
    end_time=time.time()
    
    #calculate total time taken to run everything
    total_time=end_time-start_time
    #get average time needed to answer each question
    average_time=total_time/iterations
    
    #add time info to the time_df
    df_time.loc[df_time['Dataset']==name, column]=total_time
    
    return(f"Total time taken for all iterations: {total_time} seconds",
           f"Average time per iteration: {average_time} seconds")

In [6]:
import backoff 
#because there are usage limits, its here in case it is necessary
@backoff.on_exception(backoff.expo, openai.RateLimitError)
def completions_with_backoff(**kwargs):
    return client.completions.create(**kwargs)

In [7]:
#define models
gpt35='gpt-3.5-turbo-1106' #the closest to ChatGPT-3.5
gpt4 ='gpt-4-0613' #the closest to ChatGPT-4

## Asking ChatGPT

### Load and Prepare Datasets

In [8]:
df_ComSen = pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\df_ComSenQA_sampled.csv')

In [13]:
#load time df
time_df=pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\time_df.csv')

In [14]:
#create column with answers given by GPT3.5 and GPT4
df_ComSen['GPT-3.5']=None
df_ComSen['GPT-4']=None

In [15]:
#check
df_ComSen.head()

,Question,A,B,C,D,E,Correct Option,GPT-3.5,GPT-4
0,The craftsman used elaborate joinery and panel...,swing door,entrance,wall,sliding door,exterior door,A,None,None
1,"He wanted a saxophone, so he went where?",grocery store,case,marching band,orchestra,music store,E,None,None
2,Where will a book being read by one person be ...,school room,university,bedside table,pantry,discount store,C,None,None
3,"I forgot to pay the electricity bill, now what...",put in to the water,cause fire,produce heat,short fuse,shock,C,None,None
4,Where is a dish usually used?,picnic,sink,kitchen cabinet,table,pantry,D,None,None

### Apply Functions

In [16]:
#ask chat with model gpt-3.5
cycle_dfAE(df_ComSen, gpt35, 'GPT-3.5', 'ComSen', time_df)

('Total time taken for all iterations: 38.760191917419434 seconds',
 'Average time per iteration: 0.43066879908243816 seconds')

In [17]:
#check
df_ComSen.head()

,Question,A,B,C,D,E,Correct Option,GPT-3.5,GPT-4
0,The craftsman used elaborate joinery and panel...,swing door,entrance,wall,sliding door,exterior door,A,C,None
1,"He wanted a saxophone, so he went where?",grocery store,case,marching band,orchestra,music store,E,E,None
2,Where will a book being read by one person be ...,school room,university,bedside table,pantry,discount store,C,C,None
3,"I forgot to pay the electricity bill, now what...",put in to the water,cause fire,produce heat,short fuse,shock,C,B,None
4,Where is a dish usually used?,picnic,sink,kitchen cabinet,table,pantry,D,D,None

In [19]:
time_df

   Dataset    GPT-3.5  GPT-4
0     SciQ        NaN    NaN
1   MathQA        NaN    NaN
2     MedQ        NaN    NaN
3   ComSen  38.760192    NaN
4  SocLang        NaN    NaN
5     MMLU        NaN    NaN

In [20]:
#ask chat with model gpt-4
cycle_dfAE(df_ComSen, gpt4, 'GPT-4', 'ComSen', time_df)

('Total time taken for all iterations: 56.139376163482666 seconds',
 'Average time per iteration: 0.6237708462609185 seconds')

In [21]:
#check
df_ComSen.head()

,Question,A,B,C,D,E,Correct Option,GPT-3.5,GPT-4
0,The craftsman used elaborate joinery and panel...,swing door,entrance,wall,sliding door,exterior door,A,C,C
1,"He wanted a saxophone, so he went where?",grocery store,case,marching band,orchestra,music store,E,E,E
2,Where will a book being read by one person be ...,school room,university,bedside table,pantry,discount store,C,C,C
3,"I forgot to pay the electricity bill, now what...",put in to the water,cause fire,produce heat,short fuse,shock,C,B,A
4,Where is a dish usually used?,picnic,sink,kitchen cabinet,table,pantry,D,D,D

In [22]:
time_df

   Dataset    GPT-3.5      GPT-4
0     SciQ        NaN        NaN
1   MathQA        NaN        NaN
2     MedQ        NaN        NaN
3   ComSen  38.760192  56.139376
4  SocLang        NaN        NaN
5     MMLU        NaN        NaN

In [23]:
#save df as csv
#df_ComSen.to_csv('ComSen_answers_final.csv',index=False)
#time_df.to_csv('time_df.csv', index=False)

In [ ]:
#done