## Asking ChatGPT - Testing the Functions

### Imports and settings

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import os
import time
from openai import OpenAI
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore")

In [3]:
#set our key
#OpenAI.api_key = "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"
os.environ["OPENAI_API_KEY"] = "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"


client = OpenAI(
  api_key=os.environ['OPENAI_API_KEY'],  # this is also the default, it can be omitted
)

### Functions

In [4]:
#code from https://wellsr.com/python/building-a-python-question-answering-system-with-chatgpt/ 
#and from https://github.com/openai/openai-python

#Define a function that takes a question as input and returns an answer as output
def ask_chat_gpt(question, model):

    #Generate a response from ChatGPT using the question chat message
    response = client.chat.completions.create(
    model = model,
    messages = [
        {"role": "user", "content": question}
    ],
    max_tokens=10, 
    #temperature=, 
    #frequency_penalty=,
    #presence_penalty=, #using openAI defaults for these 3 parameters
    )

    #Extract the answer from the response
    #answer = response.choices[0].message['content']
    answer = response.choices[0].message.content

    #Return the answer
    return answer

In [5]:
#define function to extract letter from chats response
def extract_letter(response):
    if response and response[0].upper() in ['A', 'B', 'C', 'D', 'E']:
        return response[0].upper()
    else:
        pass #in this case the value will remain "None" 
            #as determined when creating the new column with the chats responses

In [6]:
#create fcuntion with cycle that will itterate through every row in df 
#join question and options and pass them through the function ask_chat_gpt
#and then assign the value given to the GPT-3.5 column 
#use time library to get how long it all takes to run

def cycle_dfAD(df, model, column): #for questions with only 4 options
    iterations=0
    start_time=time.time()
    for index, row in df.iterrows():
        #defining the question to be as clear as prossible
        question=row['Question']+\
        ' A. '+row['A']+'; B. '+row['B']+'; C. '+row['C']+'; D. '+row['D']
        #get response from chat
        response=ask_chat_gpt(question, model)
        #extract the letter
        df.at[index, column]=extract_letter(response)
        #df.at[index, 'GPT-3.5']=response
        iterations+=1
    end_time=time.time()
    #calculate total time taken to run everything
    total_time=end_time-start_time
    #get average time needed to answer each question
    average_time=total_time/iterations
    return(f"Total time taken for all iterations: {total_time} seconds",
           f"Average time per iteration: {average_time} seconds")

In [7]:
#chose our model for testing
model_gpt35="gpt-3.5-turbo-1106"

### Load Dataset for Testing

In [7]:
#load dataset, i chose the SciQ one
df_SciQ = pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\SciQ train\SciQ_train.csv')

In [8]:
df_SciQ.head()

,Question,A,B,C,D,Correct Option,Main Branch,Sub-Branch
0,What type of organism is commonly used in prep...,gymnosperms,protozoa,mesophilic organisms,viruses,C,Biology,Microbiology
1,What phenomenon makes global winds blow northe...,centrifugal effect,coriolis effect,muon effect,tropical effect,B,Earth Sciences,Atmospheric Science
2,Changes from a less-ordered state to a more-or...,reactive,unbalanced,exothermic,endothermic,C,Physics,Thermodynamics
3,What is the least dangerous radioactive decay?,gamma decay,alpha decay,beta decay,zeta decay,B,Physics,Nuclear and Particle Physics
4,Kilauea in hawaii is the world’s most continuo...,carbon and smog,greenhouse gases,smoke and ash,magma,C,Earth Sciences,Geology

In [9]:
df_testing=df_SciQ.head().copy() #create copy for testing

In [10]:
df_testing['GPT-3.5']=None #create column to store gpt answers

In [11]:
#check
df_testing.head()

,Question,A,B,C,D,Correct Option,Main Branch,Sub-Branch,GPT-3.5
0,What type of organism is commonly used in prep...,gymnosperms,protozoa,mesophilic organisms,viruses,C,Biology,Microbiology,None
1,What phenomenon makes global winds blow northe...,centrifugal effect,coriolis effect,muon effect,tropical effect,B,Earth Sciences,Atmospheric Science,None
2,Changes from a less-ordered state to a more-or...,reactive,unbalanced,exothermic,endothermic,C,Physics,Thermodynamics,None
3,What is the least dangerous radioactive decay?,gamma decay,alpha decay,beta decay,zeta decay,B,Physics,Nuclear and Particle Physics,None
4,Kilauea in hawaii is the world’s most continuo...,carbon and smog,greenhouse gases,smoke and ash,magma,C,Earth Sciences,Geology,None

In [13]:
#start testing with only 1 question
question=df_testing.loc[0, 'Question']+\
        ' A. '+df_testing.loc[0, 'A']+'; B. '+df_testing.loc[0, 'B']+'; C. '+df_testing.loc[0, 'C']+\
        '; D. '+df_testing.loc[0,'D'] #we chose the 1st question of the df

In [14]:
print(question)#checking

What type of organism is commonly used in preparation of foods such as cheese and yogurt? A. gymnosperms; B. protozoa; C. mesophilic organisms; D. viruses

In [15]:
#ask gpt using model_gpt35
answer = ask_chat_gpt(question, model_gpt35)
print(answer)

C. mesophilic organisms

In [16]:
#now we will extract the letter using the function created
extract_letter(answer) #it is working as we hope!! :)

'C'

In [20]:
#now we will check the last function witht he testing df
cycle_dfAD(df_testing, model_gpt35,'GPT-3.5')

('Total time taken for all iterations: 42.92092823982239 seconds',
 'Average time per iteration: 8.584185647964478 seconds')

In [21]:
#check df
df_testing.head()

,Question,A,B,C,D,Correct Option,Main Branch,Sub-Branch,GPT-3.5
0,What type of organism is commonly used in prep...,gymnosperms,protozoa,mesophilic organisms,viruses,C,Biology,Microbiology,C
1,What phenomenon makes global winds blow northe...,centrifugal effect,coriolis effect,muon effect,tropical effect,B,Earth Sciences,Atmospheric Science,B
2,Changes from a less-ordered state to a more-or...,reactive,unbalanced,exothermic,endothermic,C,Physics,Thermodynamics,C
3,What is the least dangerous radioactive decay?,gamma decay,alpha decay,beta decay,zeta decay,B,Physics,Nuclear and Particle Physics,B
4,Kilauea in hawaii is the world’s most continuo...,carbon and smog,greenhouse gases,smoke and ash,magma,C,Earth Sciences,Geology,C

In [ ]:
#it got them all right!! smart boy

In [8]:
# testing with MathQA 
df_MathQA=pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\df_MathQA_sampled.csv')

In [9]:
df_MathQA.head()

,Question,A,B,C,D,E,Correct Option,Sub-Branch
0,an article is bought for rs . 800 and sold for...,55 %,25.25 %,33.33 %,45 %,50 %,E,Gain
1,a person buys an article at rs . 460 . at what...,542,882,772,662,521,A,Gain
2,"a , b and c started a business with capitals o...",621,276,236,600,1200,E,Gain
3,"by selling an article at rs . 800 , a shopkeep...",s . 416,s . 480,s . 429,s . 128,s . 419,A,Gain
4,"from january 1 , 1991 , to january 1 , 1993 , ...",38,39,40,41,42,E,Gain

In [42]:
quest='Indicate only the correct answer to the question: '+df_MathQA.loc[123, 'Question']+' A.'+df_MathQA.loc[123, 'A']+\
                                    '; B.'+df_MathQA.loc[123, 'B']+\
                                    '; C.'+df_MathQA.loc[123, 'C']+\
                                    '; D.'+df_MathQA.loc[123, 'D']+\
                                    '; E.'+df_MathQA.loc[123, 'E']
#works better with the the indication before the rest

In [43]:
print(quest)

Indicate only the correct answer to the question: a student chose a number , multiplied it by 4 , then subtracted 142 from the result and got 110 . what was the number he chose ? A. 58 ; B. 59 ; C. 60 ; D. 62 ; E. 63

In [44]:
answer_test=ask_chat_gpt(quest, model_gpt35)

In [45]:
print(answer_test)

The correct answer is D. 62

In [14]:
#new extract letter function
def extract_letter_test(response):
    if 'A' in response:
        return 'A'
    elif 'B' in response:
        return 'B'
    elif 'C' in response:
        return 'C'
    elif 'D' in response:
        return 'D'
    elif 'E' in response:
        return 'E'
    else:
        pass #in this case the value will remain "None" 
            #as determined when creating the new column with the chats responses

In [47]:
extract_letter_test(answer_test)

'D'

In [8]:
# testing with MedQ
df_MedQ = pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\df_MedQA_sampled.csv')

In [9]:
df_MedQ.head()

,Question,A,B,C,D,Correct Option,Subject
0,Drug producing dissociative anesthesia:,Propofol,Enflurane,Ketamine,Sevoflurane,C,Anaesthesia
1,The order of sensory blockade of local anesthe...,Temperature - pain - touch - pressure,Pain - pressure - touch - temperature,Touch - pressure - temperature - pain,Touch - pain - pressure - temperature,A,Anaesthesia
2,Intravenous anaesthetic drug that doesn't indu...,Thiopentone,Ketamine,Propofol,Methohexitone,A,Anaesthesia
3,Drug that does not causes cardiac depression:-,Propofol,Ketamine,Etomidate,Thiopentone,C,Anaesthesia
4,A resident at the emergency department is prep...,Ligamentum flavum,Arachnoid membrane,Areolar tissue,Subarachnoid space,A,Anaesthesia

In [16]:
quest_med='Indicate only the correct answer to the question: '+df_MedQ.loc[1, 'Question']+' A.'+df_MedQ.loc[1, 'A']+\
                                    '; B.'+df_MedQ.loc[1, 'B']+\
                                    '; C.'+df_MedQ.loc[1, 'C']+\
                                    '; D.'+df_MedQ.loc[1, 'D']

In [17]:
answer_med=ask_chat_gpt(quest_med, model_gpt35)
print(answer_med)

A.Temperature - pain - touch - pressure

In [18]:
extract_letter_test(answer_med)

'A'

In [19]:
#testing with comsen
df_ComSen = pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\df_ComSenQA_sampled.csv')

In [21]:
df_ComSen.head()

,Question,A,B,C,D,E,Correct Option
0,The craftsman used elaborate joinery and panel...,swing door,entrance,wall,sliding door,exterior door,A
1,"He wanted a saxophone, so he went where?",grocery store,case,marching band,orchestra,music store,E
2,Where will a book being read by one person be ...,school room,university,bedside table,pantry,discount store,C
3,"I forgot to pay the electricity bill, now what...",put in to the water,cause fire,produce heat,short fuse,shock,C
4,Where is a dish usually used?,picnic,sink,kitchen cabinet,table,pantry,D

In [22]:
quest_comsen='Indicate only the correct answer to the question: '+df_ComSen.loc[1, 'Question']+' A.'+df_ComSen.loc[1, 'A']+\
                                    '; B.'+df_ComSen.loc[1, 'B']+\
                                    '; C.'+df_ComSen.loc[1, 'C']+\
                                    '; D.'+df_ComSen.loc[1, 'D']+\
                                    '; E.'+df_ComSen.loc[1, 'E']

In [23]:
answer_comsen=ask_chat_gpt(quest_comsen, model_gpt35)
print(answer_comsen)

E. music store

In [24]:
extract_letter_test(answer_comsen)

'E'

In [25]:
#testing with soclang
df_SocLang = pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\df_SocLang_sampled.csv')

In [29]:
df_SocLang.fillna('None', inplace=True) #if this is not done, a error will arise when creating the question

In [30]:
df_SocLang.head()

,Question,A,B,C,D,Correct Option,Subject,Topic,Category
0,Suppose Maria decides to go as a ghost. Which ...,Maria will get to wear the costume she is more...,Maria will spend some time and money to get th...,None,None,B,Social science,Economics,Basic economic principles
1,The city of Norwood has been one of the world'...,The supply will probably go down.,The supply will probably go up.,None,None,A,Social science,Economics,Supply and demand
2,Suppose Tammy decides to borrow the book from ...,Tammy will give up the chance to keep the book...,Tammy will save some money by not buying the b...,None,None,A,Social science,Economics,Basic economic principles
3,Suppose Sidney decides to eat the string chees...,Sidney will get to eat the string cheese. The ...,Sidney will give up the chance to eat the vani...,None,None,B,Social science,Economics,Basic economic principles
4,Suppose Tristan decides to eat the oatmeal coo...,Tristan will give up the chance to eat the rai...,Tristan will get to eat the oatmeal cookies. T...,None,None,A,Social science,Economics,Basic economic principles

In [31]:
quest_soclang='Indicate only the correct answer to the question: '+df_SocLang.loc[1, 'Question']+' A.'+df_SocLang.loc[1, 'A']+\
                                    '; B.'+df_SocLang.loc[1, 'B']+\
                                    '; C.'+df_SocLang.loc[1, 'C']+\
                                    '; D.'+df_SocLang.loc[1, 'D']

In [33]:
answer_soclang=ask_chat_gpt(quest_soclang, model_gpt35)
print(answer_soclang)

A. The supply will probably go down.

In [34]:
extract_letter_test(answer_soclang)

'A'

In [35]:
#testing with mmlu
df_MMLU = pd.read_csv(r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\df_MMLU_sampled.csv')

In [36]:
df_MMLU.head()

,Question,A,B,C,D,Correct Option,Subject
0,This question refers to the following informat...,The prosecution of a variety of wars by the Sp...,The development of a vibrant merchant class in...,A decrease in patronage of religious activitie...,A decrease in the frequency of voyages of expl...,A,History
1,This question refers to the following informat...,Financial problems caused by debts and low rev...,The legal system of France was not equitable.,The proliferation of Enlightenment ideals.,There was a lot of social and political inequa...,A,History
2,Virtually all of the crops important in the Eu...,were domesticated at the same time at communal...,were domesticated before groups became sedentary.,were independently domesticated in Europe,were imported from other regions.,D,History
3,This question refers to the following informat...,Establishment of the minimum wage law.,Enactment of laws regulating railroads.,Shift in U.S. currency from the gold standard ...,Creation of a price-support system for small-s...,B,History
4,This question refers to the following informat...,Pan-Africanism,Communism,African socialism,Neocolonialism,A,History

In [37]:
quest_mmlu='Indicate only the correct answer to the question: '+df_MMLU.loc[1, 'Question']+' A.'+df_MMLU.loc[1, 'A']+\
                                    '; B.'+df_MMLU.loc[1, 'B']+\
                                    '; C.'+df_MMLU.loc[1, 'C']+\
                                    '; D.'+df_MMLU.loc[1, 'D']

In [39]:
answer_mmlu=ask_chat_gpt(quest_mmlu, model_gpt35)
print(answer_mmlu)

C. The proliferation of Enlightenment ideals.

In [40]:
extract_letter_test(answer_mmlu)

'C'

In [41]:
#all is working fine, the fillna in the soclang dataset will be done in the final askgpt file.

## Create TimeDF

In [42]:
#creating df to store the time gpt needs to do its thing
#it will only store the total time as the avg time can easily be calculated a posteriori
column_names=['Dataset', 'GPT-3.5', 'GPT-4'] #columns
time_df=pd.DataFrame(columns=column_names)

In [43]:
#add values to column Dataset
time_df['Dataset']=['SciQ', 'MathQA', 'MedQ', 'ComSen', 'SocLang', 'MMLU']
time_df #check how its looking :)

   Dataset GPT-3.5 GPT-4
0     SciQ     NaN   NaN
1   MathQA     NaN   NaN
2     MedQ     NaN   NaN
3   ComSen     NaN   NaN
4  SocLang     NaN   NaN
5     MMLU     NaN   NaN

In [45]:
#import df
time_df.to_csv('time_df.csv',index=False)