## Reducing Datasets' Size

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore")

### Function to selectr 90 random rows of each 'Topic', 'Sub-Branch'...

In [2]:
# Function to sample rows
def sample_rows(x, n=90):
    return x.sample(n=min(len(x), n), random_state=25)

### SciQ Dataset

In [3]:
file_path_SciQ = r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\SciQ train\SciQ_train.csv'

# Load the CSV file into a DataFrame
df_SciQ = pd.read_csv(file_path_SciQ)

# Display the first few rows of the DataFrame
df_SciQ.head()

,Question,A,B,C,D,Correct Option,Main Branch,Sub-Branch
0,What type of organism is commonly used in prep...,gymnosperms,protozoa,mesophilic organisms,viruses,C,Biology,Microbiology
1,What phenomenon makes global winds blow northe...,centrifugal effect,coriolis effect,muon effect,tropical effect,B,Earth Sciences,Atmospheric Science
2,Changes from a less-ordered state to a more-or...,reactive,unbalanced,exothermic,endothermic,C,Physics,Thermodynamics
3,What is the least dangerous radioactive decay?,gamma decay,alpha decay,beta decay,zeta decay,B,Physics,Nuclear and Particle Physics
4,Kilauea in hawaii is the world’s most continuo...,carbon and smog,greenhouse gases,smoke and ash,magma,C,Earth Sciences,Geology

In [4]:
df_SciQ['Sub-Branch'].value_counts()

Anatomy/Physiology              1148
Inorganic Chemistry              861
Cell Biology                     670
Geology                          595
Biochemistry                     580
Zoology                          569
Ecology                          567
Botany                           479
Genetics                         413
Physical Chemistry               354
Mechanics                        303
Organic Chemistry                276
Astronomy                        275
Reproductive Biology             274
Thermodynamics                   256
Microbiology                     255
Geography                        250
Neuroscience                     244
Electromagnetism                 198
Evolutionary Biology             187
Nuclear and Particle Physics     187
Atmospheric Science              177
Marine Biology                   172
Environmental Science            140
Acoustics                        132
Optics                           126
Atomic Physics                   121
Oceanography                      93
Name: Sub-Branch, dtype: int64

In [5]:
#do the random selction using the function above defined

# Apply the sampling function to each sub-branch
df_SciQ_sampled = df_SciQ.groupby('Sub-Branch', group_keys=False).apply(sample_rows)

# Reset index if desired
df_SciQ_sampled.reset_index(drop=True, inplace=True)

In [6]:
df_SciQ_sampled.head() #check

,Question,A,B,C,D,Correct Option,Main Branch,Sub-Branch
0,The scale that is used to measure the loudness...,decibels,waves,weight,centimeters,A,Physics,Acoustics
1,What hits the eardrum and causes it to vibrate?,decibels,sound waves,cilia,microwaves,B,Physics,Acoustics
2,The frequency of a wave is the reciprocal of w...,period,amplitude,length,term,A,Physics,Acoustics
3,What were the first particles with mass to be ...,protons,negatrons,ions,electrons,D,Physics,Acoustics
4,What is the time interval required for one com...,period,minute,cycle,half-life,A,Physics,Acoustics

In [7]:
df_SciQ_sampled['Sub-Branch'].value_counts() #check

Acoustics                       90
Anatomy/Physiology              90
Thermodynamics                  90
Reproductive Biology            90
Physical Chemistry              90
Organic Chemistry               90
Optics                          90
Oceanography                    90
Nuclear and Particle Physics    90
Neuroscience                    90
Microbiology                    90
Mechanics                       90
Marine Biology                  90
Inorganic Chemistry             90
Geology                         90
Geography                       90
Genetics                        90
Evolutionary Biology            90
Environmental Science           90
Electromagnetism                90
Ecology                         90
Cell Biology                    90
Botany                          90
Biochemistry                    90
Atomic Physics                  90
Atmospheric Science             90
Astronomy                       90
Zoology                         90
Name: Sub-Branch, dtype: int64

In [47]:
#export to csv
#df_SciQ_sampled.to_csv('df_SciQ_sampled.csv',index=False)

In [9]:
df_SciQ_sampled.shape

(2520, 8)

In [10]:
df_SciQ_sampled['Main Branch'].nunique(), df_SciQ_sampled['Sub-Branch'].nunique()

(5, 28)

### MathQA Dataset

In [11]:
file_path_MathQA = r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\MathQ train\MathQA_train.csv'

# Load the CSV file into a DataFrame
df_MathQA = pd.read_csv(file_path_MathQA)

# Display the first few rows of the DataFrame
df_MathQA.head()

,index,Question,A,B,C,D,E,Correct Option,Sub-Branch
0,0,the banker ' s gain of a certain sum due 3 yea...,rs . 400,rs . 300,rs . 500,rs . 350,none of these,A,Gain
1,1,average age of students of an adult school is ...,1200,120,360,240,none of these,D,General
2,2,sophia finished 2 / 3 of a book . she calculat...,229,270,877,266,281,B,General
3,3,120 is what percent of 50 ?,5 %,240 %,50 %,2 %,500 %,B,Gain
4,4,there are 10 girls and 20 boys in a classroom ...,1 / 2,1 / 3,1 / 5,10 / 30,2 / 5,A,Other

In [12]:
df_MathQA['Sub-Branch'].value_counts()

General        13273
Physics         7063
Gain            5120
Geometry        2117
Other           1814
Probability      450
Name: Sub-Branch, dtype: int64

In [13]:
#do the random selction using the function above defined

# Apply the sampling function to each sub-branch
df_MathQA_sampled = df_MathQA.groupby('Sub-Branch', group_keys=False).apply(sample_rows)

# Reset index if desired
df_MathQA_sampled.reset_index(drop=True, inplace=True)

In [14]:
df_MathQA_sampled.head()

,index,Question,A,B,C,D,E,Correct Option,Sub-Branch
0,546,an article is bought for rs . 800 and sold for...,55 %,25.25 %,33.33 %,45 %,50 %,E,Gain
1,23993,a person buys an article at rs . 460 . at what...,542,882,772,662,521,A,Gain
2,11504,"a , b and c started a business with capitals o...",621,276,236,600,1200,E,Gain
3,14533,"by selling an article at rs . 800 , a shopkeep...",s . 416,s . 480,s . 429,s . 128,s . 419,A,Gain
4,6349,"from january 1 , 1991 , to january 1 , 1993 , ...",38,39,40,41,42,E,Gain

In [15]:
df_MathQA_sampled.drop(columns=['index'], inplace=True)

In [16]:
df_MathQA_sampled['Sub-Branch'].value_counts()

Gain           90
General        90
Geometry       90
Other          90
Physics        90
Probability    90
Name: Sub-Branch, dtype: int64

In [48]:
#export as csv
#df_MathQA_sampled.to_csv('df_MathQA_sampled.csv',index=False)

In [18]:
df_MathQA_sampled.shape, df_MathQA_sampled['Sub-Branch'].nunique()

((540, 8), 6)

### MedMCQA Dataset

In [19]:
file_path_MedQA = r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\MedCQA train\MedQA_train.csv'

# Load the CSV file into a DataFrame
df_MedQA = pd.read_csv(file_path_MedQA)

# Display the first few rows of the DataFrame
df_MedQA.head()

,Question,A,B,C,D,Correct Option,Subject
0,Chronic urethral obstruction due to benign pri...,Hyperplasia,Hyperophy,Atrophy,Dyplasia,C,Anatomy
1,Which vitamin is supplied from only animal sou...,Vitamin C,Vitamin B7,Vitamin B12,Vitamin D,C,Biochemistry
2,Per rectum examination is not a useful test fo...,Anal fissure,Hemorrhoid,Pilonidal sinus,Rectal ulcer,C,Surgery
3,Naglers reaction is shown by,Clostridium tetani,Clostridium botulinum,Clostridium perfringens,Clostridium septicum,C,Microbiology
4,The pharmakokinetic change occurring in geriat...,Gastric absorption,Liver metabolism,Renal clearance,Hypersensitivity,C,Anatomy

In [20]:
df_MedQA['Subject'].value_counts()

Anatomy                         6087
Medicine                        5825
Pathology                       4899
Pharmacology                    4889
Surgery                         4579
Social & Preventive Medicine    4162
Microbiology                    4010
Physiology                      3678
Biochemistry                    3503
Gynaecology & Obstetrics        3228
Pediatrics                      2879
Ophthalmology                   2161
Forensic Medicine               1789
ENT                             1718
Orthopaedics                    1505
Psychiatry                      1336
Radiology                       1299
Anaesthesia                     1033
Dental                           773
Skin                             481
Name: Subject, dtype: int64

In [21]:
#do the random selction using the function above defined

# Apply the sampling function to each sub-branch
df_MedQA_sampled = df_MedQA.groupby('Subject', group_keys=False).apply(sample_rows)

# Reset index if desired
df_MedQA_sampled.reset_index(drop=True, inplace=True)

In [22]:
df_MedQA_sampled.head()

,Question,A,B,C,D,Correct Option,Subject
0,Drug producing dissociative anesthesia:,Propofol,Enflurane,Ketamine,Sevoflurane,C,Anaesthesia
1,The order of sensory blockade of local anesthe...,Temperature - pain - touch - pressure,Pain - pressure - touch - temperature,Touch - pressure - temperature - pain,Touch - pain - pressure - temperature,A,Anaesthesia
2,Intravenous anaesthetic drug that doesn't indu...,Thiopentone,Ketamine,Propofol,Methohexitone,A,Anaesthesia
3,Drug that does not causes cardiac depression:-,Propofol,Ketamine,Etomidate,Thiopentone,C,Anaesthesia
4,A resident at the emergency department is prep...,Ligamentum flavum,Arachnoid membrane,Areolar tissue,Subarachnoid space,A,Anaesthesia

In [23]:
df_MedQA_sampled['Subject'].value_counts()

Anaesthesia                     90
Anatomy                         90
Social & Preventive Medicine    90
Skin                            90
Radiology                       90
Psychiatry                      90
Physiology                      90
Pharmacology                    90
Pediatrics                      90
Pathology                       90
Orthopaedics                    90
Ophthalmology                   90
Microbiology                    90
Medicine                        90
Gynaecology & Obstetrics        90
Forensic Medicine               90
ENT                             90
Dental                          90
Biochemistry                    90
Surgery                         90
Name: Subject, dtype: int64

In [49]:
#export as csv
#df_MedQA_sampled.to_csv('df_MedQA_sampled.csv',index=False)

In [25]:
df_MedQA_sampled.shape, df_MedQA_sampled['Subject'].nunique()

((1800, 7), 20)

### CommonSenseQa Dataset

In [26]:
file_path_ComSen = r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\ComSens train\ComSenQA_train.csv'

# Load the CSV file into a DataFrame
df_ComSenQA = pd.read_csv(file_path_ComSen)

# Display the first few rows of the DataFrame
df_ComSenQA.head()

,Question,A,B,C,D,E,Correct Option
0,The sanctions against the school were a punish...,ignore,enforce,authoritarian,yell at,avoid,A
1,Sammy wanted to go to where the people were. ...,race track,populated areas,the desert,apartment,roadblock,B
2,To locate a choker not located in a jewelry bo...,jewelry store,neck,jewlery box,jewelry box,boutique,A
3,Google Maps and other highway and street GPS s...,united states,mexico,countryside,atlas,oceans,D
4,"The fox walked from the city into the forest, ...",pretty flowers.,hen house,natural habitat,storybook,dense forest,C

In [27]:
df_ComSenQA.shape

(9741, 7)

In [28]:
#select 90 random rows from df
df_ComSenQA_sampled=df_ComSenQA.sample(n=90, replace=False)
df_ComSenQA_sampled.reset_index(drop=True, inplace=True)

In [29]:
df_ComSenQA_sampled.head()

,Question,A,B,C,D,E,Correct Option
0,The craftsman used elaborate joinery and panel...,swing door,entrance,wall,sliding door,exterior door,A
1,"He wanted a saxophone, so he went where?",grocery store,case,marching band,orchestra,music store,E
2,Where will a book being read by one person be ...,school room,university,bedside table,pantry,discount store,C
3,"I forgot to pay the electricity bill, now what...",put in to the water,cause fire,produce heat,short fuse,shock,C
4,Where is a dish usually used?,picnic,sink,kitchen cabinet,table,pantry,D

In [30]:
df_ComSenQA_sampled.shape

(90, 7)

In [50]:
#export as csv
#df_ComSenQA_sampled.to_csv('df_ComSenQA_sampled.csv',index=False)

In [32]:
df_ComSenQA_sampled.shape

(90, 7)

### MMLU Dataset

In [33]:
file_path_MMLU = r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\MMLU\MMLU_train.csv'

# Load the CSV file into a DataFrame
df_MMLU = pd.read_csv(file_path_MMLU)

# Display the first few rows of the DataFrame
df_MMLU.head()

,Question,A,B,C,D,Correct Option,Subject
0,Identify the conclusion of the following argum...,It is hard not to verify in our peers the same...,"The arrogance of our consciousness, which in g...","Because of this, it is difficult to convince p...",It is difficult to convince people of the unco...,D,Logic
1,Select the best translation into predicate log...,Tdc,Tcd,Tcc,dTc,A,Logic
2,Select the best English interpretation of the...,Some large houses are bigger than some apartme...,Some houses are bigger than all large apartments.,Some large apartments are bigger than some hou...,Some houses are bigger thatn some large apartm...,C,Logic
3,Construct a complete truth table for the follo...,Valid,Invalid. Counterexample when G and H are true,Invalid. Counterexample when G is true and H i...,Invalid. Counterexample when H is true and G i...,A,Logic
4,Use the following key to translate the given ...,If it's not the case that both Izzy plays Mine...,If it's both not the case that Izzy plays Mine...,Izzy playing Minecraft and Ashleigh stopping b...,Russell's making dinner is a sufficient condit...,B,Logic

In [34]:
df_MMLU['Subject'].value_counts()

Law                     1763
Philosophy              1552
Psychology/Sociology    1515
History                  928
Logic                    288
Name: Subject, dtype: int64

In [35]:
#do the random selction using the function above defined

# Apply the sampling function to each sub-branch
df_MMLU_sampled = df_MMLU.groupby('Subject', group_keys=False).apply(sample_rows)

# Reset index if desired
df_MMLU_sampled.reset_index(drop=True, inplace=True)

In [36]:
df_MMLU_sampled.head()

,Question,A,B,C,D,Correct Option,Subject
0,This question refers to the following informat...,The prosecution of a variety of wars by the Sp...,The development of a vibrant merchant class in...,A decrease in patronage of religious activitie...,A decrease in the frequency of voyages of expl...,A,History
1,This question refers to the following informat...,Financial problems caused by debts and low rev...,The legal system of France was not equitable.,The proliferation of Enlightenment ideals.,There was a lot of social and political inequa...,A,History
2,Virtually all of the crops important in the Eu...,were domesticated at the same time at communal...,were domesticated before groups became sedentary.,were independently domesticated in Europe,were imported from other regions.,D,History
3,This question refers to the following informat...,Establishment of the minimum wage law.,Enactment of laws regulating railroads.,Shift in U.S. currency from the gold standard ...,Creation of a price-support system for small-s...,B,History
4,This question refers to the following informat...,Pan-Africanism,Communism,African socialism,Neocolonialism,A,History

In [37]:
df_MMLU_sampled['Subject'].value_counts()

History                 90
Law                     90
Logic                   90
Philosophy              90
Psychology/Sociology    90
Name: Subject, dtype: int64

In [51]:
#export as csv
#df_MMLU_sampled.to_csv('df_MMLU_sampled.csv',index=False)

In [39]:
df_MMLU_sampled.shape, df_MMLU_sampled['Subject'].nunique()

((450, 7), 5)

### Science_qa Dataset

In [40]:

    
file_path_SocLang = r'C:\Users\Bia\OneDrive\Ambiente de Trabalho\TESE_2024\DATASETS TESE\FINAL DATASETS\Science_qa\SocLang_df.csv'

# Load the CSV file into a DataFrame
df_SocLang = pd.read_csv(file_path_SocLang)

# Display the first few rows of the DataFrame
df_SocLang.head()

,Question,A,B,C,D,Correct Option,Subject,Topic,Category
0,Which figure of speech is used in this text?\n...,chiasmus,apostrophe,NaN,NaN,B,Language science,Figurative-language,Literary devices
1,What does the verbal irony in this text sugges...,The snoring is loud.,The snoring occurs in bursts.,NaN,NaN,A,Language science,Figurative-language,Literary devices
2,Is this a sentence fragment?\nDuring the const...,no,yes,NaN,NaN,B,Language science,Writing-strategies,"Sentences, fragments, and run-ons"
3,Which tense does the sentence use?\nMona will ...,present tense,future tense,past tense,NaN,B,Language science,Verbs,Verb tense
4,Which of the following contains a vague pronou...,Steven's brother Jim wondered whether he ran f...,Steven's brother Jim wondered whether Steven r...,NaN,NaN,A,Language science,Writing-strategies,Pronouns

In [41]:
df_SocLang['Topic'].value_counts()

Figurative-language    1226
Reference-skills        723
Writing-strategies      676
Economics               384
Verbs                   251
Punctuation             206
Grammar                 137
Name: Topic, dtype: int64

In [42]:
#do the random selction using the function above defined

# Apply the sampling function to each sub-branch
df_SocLang_sampled = df_SocLang.groupby('Topic', group_keys=False).apply(sample_rows)

# Reset index if desired
df_SocLang_sampled.reset_index(drop=True, inplace=True)

In [43]:
df_SocLang_sampled.head()

,Question,A,B,C,D,Correct Option,Subject,Topic,Category
0,Suppose Maria decides to go as a ghost. Which ...,Maria will get to wear the costume she is more...,Maria will spend some time and money to get th...,NaN,NaN,B,Social science,Economics,Basic economic principles
1,The city of Norwood has been one of the world'...,The supply will probably go down.,The supply will probably go up.,NaN,NaN,A,Social science,Economics,Supply and demand
2,Suppose Tammy decides to borrow the book from ...,Tammy will give up the chance to keep the book...,Tammy will save some money by not buying the b...,NaN,NaN,A,Social science,Economics,Basic economic principles
3,Suppose Sidney decides to eat the string chees...,Sidney will get to eat the string cheese. The ...,Sidney will give up the chance to eat the vani...,NaN,NaN,B,Social science,Economics,Basic economic principles
4,Suppose Tristan decides to eat the oatmeal coo...,Tristan will give up the chance to eat the rai...,Tristan will get to eat the oatmeal cookies. T...,NaN,NaN,A,Social science,Economics,Basic economic principles

In [44]:
df_SocLang_sampled['Topic'].value_counts()

Economics              90
Figurative-language    90
Grammar                90
Punctuation            90
Reference-skills       90
Verbs                  90
Writing-strategies     90
Name: Topic, dtype: int64

In [52]:
#export as csv
#df_SocLang_sampled.to_csv('df_SocLang_sampled.csv',index=False)

In [46]:
df_SocLang_sampled.shape, df_SocLang_sampled['Subject'].nunique(), df_SocLang_sampled['Topic'].nunique()

((630, 9), 2, 7)